@import '_measures';

// outline: none : No se mostrará el contorno al hacer clic en el enlace.


@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin link($marginLeft, $marginRigth) {
    margin-left: $marginLeft;
    margin-right: $marginRigth;
    outline: none;
}

@mixin button($marginRight, $fontSize) {
    background: rgb(253, 212, 77);
    border: 3px solid rgb(128, 128, 128);
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: $marginRight;
    font-family: 'Indie Flower', cursive;
    font-family: 'Coming Soon', cursive;
    font-family: 'Chilanka', cursive;
    font-size: $fontSize;
    outline: none;
}


header {    
    background: #ffe300;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        outline: none;
    }

    @media (max-width: $blackberry) {
        @include size(100%, 75px);

        img {   
            @include size(120px, 45px);
            margin-left: 20px;
        }
  
        button[type="button"] {
            @include size(90%, 40px);
            @include button(20px, 10px);
        }
    }

    @media (min-width: $blackberry) and (max-width: $smartphone) {
        @include size(100%, 80px);

        img {   
            @include size(50%, 47px);
            margin-left: 22px;
        }
  
        button[type="button"] {
            @include size(115px, 42px);
            @include button(22px, 11px);
        }
    }
    
    @media (min-width: $smartphone) and (max-width: $tablet) {
        @include size(100%, 85px);

        img {   
            @include size(55%, 49px);
            margin-left: 24px;
        }
  
        button[type="button"] {
            @include size(20vw, 44px);
            @include button(24px, 12px);
        }
    }

    @media (min-width: $tablet) and (max-width: $notebook) {
        @include size(100%, 90px);

        img {   
            @include size(40vw, 51px);
            margin-left: 26px;
        }
  
        button[type="button"] {
            @include size(20vw, 46px);
            @include button(26px, 14px);
        }
    }

    
    @media (min-width: $notebook) and (max-width: $desktop) {
        @include size(100%, 95px);

        img {   
            @include size(36vw, 53px);
            margin-left: 28px;
        }
  
        button[type="button"] {
            @include size(20vw, 48px);
            @include button(28px, 16px);
        }
    }

    
    @media (min-width: $desktop) {
        @include size(100%, 100px);

        img {   
            @include size(28vw, 55px);
            margin-left: 30px;
        }
  
        button[type="button"] {
            @include size(100%, 50px);
            @include button(30px, 18px);
        }
    } 
}