$blackberry: 320px;
$smartphone: 480px;
$tablet: 768px;
$desktop: 1024px;
$smart: 1200px;


/* @mixin style($width, $height, $margin) {
    width: $width;
    height: $height;
    margin: $margin;
}
 */

/* #view-section {
    width: 100%;

    .Home-body {
        width: 100%;

        #container-products {
            padding: 3px 20px 3px 20px; 
            align-items: center;

            @include style(100%, auto, 0);

            li{
                display: -webkit-inline-box;
                margin-right: 7px;
            }

            #ItemProduct {
                display: flex; 
                justify-content: center;
                flex-direction: column;
                align-items: center;

                @include style(150px, 288px, 2px 15px 2px 15px);
            
                img {
                   display: flex;
                   justify-content: center;
 
                   @include style(300px, 300px, 5px);
                 
                   @media (max-width: $smartphone) {
                       width: 150px;
                       height: 150px;
                    }
                   @media (min-width: $smartphone) and (max-width: $tablet) {
                       width: 45%;
                       height: 65px;
                    }
                   @media (min-width: $tablet) and (max-width: $desktop) {
                       width: 50%;
                       height: 75px;
                    }
                    @media (min-width: $desktop) {
                       width: 55%;
                       height: 75px;
                    }
                } */