@import '_header';
@import '_gamecards';
@import '_gamerules';


body {
    margin: 0;
    padding: 0;
    background: #fffb95;

    #root {
        margin: 0;
        
        .App {
            margin: 0;
            display: flex;
            flex-direction: column;

            footer {
                padding-bottom: 2px;
                font-family: 'Indie Flower', cursive;
                font-family: 'Coming Soon', cursive;
                font-family: 'Chilanka', cursive;
                font-size: 18px;
            }
        }
    }
}
