@import '_header';
@import '_gamecards';
@import '_gamerules';
@import '_pageerror';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        height: 100vh;
        background: #fffb95;
        
        #root {
            margin: 0;
                            
            div {
                margin: 0;
                display: flex;
                flex-direction: column;
    
                footer {
                    padding: 12px;
                    font-family: 'Indie Flower', cursive;                        font-family: 'Coming Soon', cursive;
                    font-family: 'Chilanka', cursive;
                    font-size: 18px;
                }
            }
        }
    }
}
