@charset "UTF-8";
header {
  background: #ffe300;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  outline: none;
}
@media (max-width: 320px) {
  header {
    width: 100%;
    height: 75px;
  }
  header img {
    width: 70%;
    height: 45px;
    margin-left: 20px;
  }
  header button[type=button] {
    width: 90%;
    height: 40px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 20px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 10px;
    outline: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  header {
    width: 100%;
    height: 80px;
  }
  header img {
    width: 73%;
    height: 47px;
    margin-left: 22px;
  }
  header button[type=button] {
    width: 93%;
    height: 42px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 22px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 11px;
    outline: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  header {
    width: 100%;
    height: 85px;
  }
  header img {
    width: 76%;
    height: 49px;
    margin-left: 24px;
  }
  header button[type=button] {
    width: 96%;
    height: 44px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 24px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 12px;
    outline: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100%;
    height: 90px;
  }
  header img {
    width: 79%;
    height: 51px;
    margin-left: 26px;
  }
  header button[type=button] {
    width: 99%;
    height: 46px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 26px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 14px;
    outline: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header {
    width: 100%;
    height: 95px;
  }
  header img {
    width: 82%;
    height: 53px;
    margin-left: 28px;
  }
  header button[type=button] {
    width: 100%;
    height: 48px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 28px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
    outline: none;
  }
}
@media (min-width: 1200px) {
  header {
    width: 100%;
    height: 100px;
  }
  header img {
    width: 85%;
    height: 55px;
    margin-left: 30px;
  }
  header button[type=button] {
    width: 100%;
    height: 50px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 30px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 18px;
    outline: none;
  }
}

/*

// perspective: Determina la distancia entre el plano z=0 y el usuario 
// para dar algo de perspectiva al elemento 3D posicionado. Es decir, 
// nos ayudará a crear un efecto más realista en la animación invertida.

// display: grid : Establece una cuadrícula con ítems en bloque, de forma 
// equivalente a block.

// grid-template-columns: Establece el tamaño de cada columna.

// repeat([núm de veces], [valor o valores]): Representa un fragmento repetido 
// de la lista, permitiendo un gran número de columnas o filas que exhiben un 
// patrón recurrente.
// Parámetros: 
// - 1er parámetro: Número de repeticiones.
// - 2do parámetro: Tamaño. Ancho del elemento.

// minmax(min, max): Define un rango de tamaño mayor o igual que min y menor o 
// igual que max. Se emplea con rejillas CSS.

// justify-items: Alinea cada celda o área dentro del grid container.

// fr(fraction): Simboliza una fracción de espacio restante en el grid.

// position: Especifica cómo un elemento es posicionado en el documento.
// - relative: El elemento es posicionado de acuerdo al flujo normal del 
// documento. Es decir se le asigna la posición por defecto.
// - absolute: El elemento no estará dentro del flujo normal de la página y
// tomará como referencia la ventana del navegador o el elemento posicionado 
// (que tenga cualquier valor de position excepto static) más cercano si es 
// el padre del elemento que queremos posicionar.

// transform: Aplica una transformación 2D o 3D a un elemento. Esta propiedad
// le permite rotar, escalar, mover, sesgar, etc., elementos.

// scale(): Define una transformación que modifica el tamaño de un elemento 
// en el plano 2D. Se especifica con uno o dos valores, que representan la 
// cantidad de escala que se aplicará en cada dirección.
// Sintaxis: scale(sx), scale(sx, sy)
// Parámetros:
// sx: Es un número representando la abscisa del vector de escala.
// sy: Es un número representado la ordenada de la escala del vector. 

// transform-style: Especifica cómo se representan los elementos hijos en el
// espacio 3D.
// Nota: Esta propiedad debe usarse junto con la propiedad transform.
// Valores: flat | preserve-3d | initial | inherit
// - preserve-3d: Especifica que los elementos hijos conservarán su posición 3D.

// transition: Permite cambiar los valores de las propiedades sin problemas, durante
// una duración determinada. Para crear una transición debe especificar lo siguiente:
// - El efecto que desea agregar.
// - La duración del efecto.
// Nota: Si no se especifica la parte de duración, la transición no tendrá efecto, 
// porque el valor predeterminado es 0.

// backface-visibility: Determina si la cara posterior de un elemento es visible de
// frente al usuario. La cara posterior de un elemento siempre es un fondo transpa-
// rente, permitiendo, cuando es visible, que se muestre una imagen espejo de la 
// cara frontal.
// Valores: visible | hidden
// - visible: La cara posterior es visible, permitiendo que la cara frontal se muestre 
// invertida.
// - hidden: La cara posterior no es visible, ocultando la cara frontal.

// rotateY(): Permite rotar un elemento sobre el eje Y en un espacio tridimensional. 

// visibility: Controla la visibilidad del elemento, pero no afecta a como el navegador 
// representa la caja.
// Valores: visible | hidden
// - hidden: Esconde el elemento pero el espacio que ocupa sigue representándose.
*/
.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex;
  padding: 15px;
  margin: 0;

  section {
      width: auto;
      margin: 35px auto 35px auto;
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 1fr)); 
      justify-items: center;
      perspective: 1000px; 

      article {
          width: 90%;
          height: 120px;
          margin: 5px;

          cursor: pointer;
          position: relative;
          transform: scale(1);
          transition: transform .5s;
          transform-style: preserve-3d;

          article:active {
              transform: scale(.97);
              transition: transform .2s;
          }

          .front-face {
              width: 100%;
              height: 100%;
              border-radius: 7px;
              border: 6px solid #f9af00b3;

              position: absolute;
              backface-visibility: hidden;
              transform: rotateY(180deg);

              img {
                  width: 100%;
                  height: 100%;
                  border-radius: 2px;
              }
          }

          .back-face {
              width: 100%;
              height: 100%;
              border-radius: 7px;
              background: #ffec55a6;
              border: 6px solid #f9af00b3;


              img {
                  width: 100%;
                  height: 100%;
              }
          }
      }

      .flip {
          transform: rotateY(180deg);
      }

      .hidden {
          visibility: hidden;
      }
  } */
}
.Game section {
  display: grid;
  grid-template-columns: repeat(4, minmax(10%, 1fr));
  justify-items: center;
  perspective: 1000px;
}
.Game section article {
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.Game section article article:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.Game section article .front-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.Game section article .front-face img {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px;
}
.Game section article .back-face {
  width: 100%;
  height: 100%;
  background: #ffec55a6;
}
.Game section article .back-face img {
  width: 100%;
  height: 100%;
}
.Game section .flip {
  transform: rotateY(180deg);
}
.Game section .hidden {
  visibility: hidden;
}
@media (max-width: 320px) {
  .Game {
    padding: 15px;
    margin: 0;
  }
  .Game section {
    width: 95%;
    height: auto;
  }
  .Game section article {
    padding: 0;
    margin: 3px;
  }
  .Game section article .front-face {
    border: 4px solid #f9af00b3;
    border-radius: 5px;
  }
  .Game section article .back-face {
    border: 4px solid #f9af00b3;
    border-radius: 5px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .Game {
    padding: 16px;
    margin: 0;
  }
  .Game section {
    width: 85%;
    height: auto;
  }
  .Game section article {
    padding: 0;
    margin: 3px;
  }
  .Game section article .front-face {
    border: 4px solid #f9af00b3;
    border-radius: 5px;
  }
  .Game section article .back-face {
    border: 4px solid #f9af00b3;
    border-radius: 5px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .Game {
    padding: 20px;
    margin: 0;
  }
  .Game section {
    width: 70%;
    height: auto;
  }
  .Game section article {
    padding: 0;
    margin: 3px;
  }
  .Game section article .front-face {
    border: 4px solid #f9af00b3;
    border-radius: 5px;
  }
  .Game section article .back-face {
    border: 4px solid #f9af00b3;
    border-radius: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .Game {
    padding: 30px;
    margin: 0;
  }
  .Game section {
    width: 60%;
    height: auto;
  }
  .Game section article {
    padding: 0;
    margin: 5px;
  }
  .Game section article .front-face {
    border: 5px solid #f9af00b3;
    border-radius: 5px;
  }
  .Game section article .back-face {
    border: 5px solid #f9af00b3;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .Game {
    padding: 30px;
    margin: 0;
  }
  .Game section {
    width: 50%;
    height: auto;
  }
  .Game section article {
    padding: 0;
    margin: 5px;
  }
  .Game section article .front-face {
    border: 5px solid #f9af00b3;
    border-radius: 5px;
  }
  .Game section article .back-face {
    border: 5px solid #f9af00b3;
    border-radius: 5px;
  }
}
@media (min-width: 1200px) {
  .Game {
    padding: 30px;
    margin: 0;
  }
  .Game section {
    width: 40%;
    height: auto;
  }
  .Game section article {
    padding: 0;
    margin: 5px;
  }
  .Game section article .front-face {
    border: 5px solid #f9af00b3;
    border-radius: 5px;
  }
  .Game section article .back-face {
    border: 5px solid #f9af00b3;
    border-radius: 5px;
  }
}

@media (max-width: 320px) {
  .GameRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
  }
  .GameRules h2 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
    margin: 25px 4% 2px 4%;
  }
  .GameRules section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
  }
  .GameRules section article {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 3px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 11px;
  }
  .GameRules section article img {
    width: 20%;
    height: auto;
  }
  .GameRules section article h4 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 13px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .GameRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 0;
  }
  .GameRules h2 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 18px;
    margin: 27px 6% 4px 6%;
  }
  .GameRules section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 0;
    flex-wrap: wrap;
  }
  .GameRules section article {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 8px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 12px;
  }
  .GameRules section article img {
    width: 22%;
    height: auto;
  }
  .GameRules section article h4 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 13px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .GameRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 0;
  }
  .GameRules h2 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 21px;
    margin: 29px 8% 6px 8%;
  }
  .GameRules section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 0;
    flex-wrap: wrap;
  }
  .GameRules section article {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 13px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 13px;
  }
  .GameRules section article img {
    width: 22%;
    height: auto;
  }
  .GameRules section article h4 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .GameRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0;
  }
  .GameRules h2 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 24px;
    margin: 31px 10% 8px 10%;
  }
  .GameRules section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px;
    margin: 0;
    flex-wrap: wrap;
  }
  .GameRules section article {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 10px 10px 10px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 15px;
  }
  .GameRules section article img {
    width: 22%;
    height: auto;
  }
  .GameRules section article h4 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .GameRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 0;
  }
  .GameRules h2 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 27px;
    margin: 33px 12% 10px 12%;
  }
  .GameRules section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px;
    margin: 0;
    flex-wrap: wrap;
  }
  .GameRules section article {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 12px 13px 12px 13px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
  }
  .GameRules section article img {
    width: 22%;
    height: auto;
  }
  .GameRules section article h4 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .GameRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
  .GameRules h2 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 30px;
    margin: 35px 14% 12px 14%;
  }
  .GameRules section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0;
    flex-wrap: wrap;
  }
  .GameRules section article {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 14px 15px 14px 15px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 18px;
  }
  .GameRules section article img {
    width: 22%;
    height: auto;
  }
  .GameRules section article h4 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .PageError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
  }
  .PageError img {
    width: 25%;
    height: auto;
    margin: 15px;
  }
  .PageError section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 60%;
    height: auto;
  }
  .PageError section h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 50px;
    margin: 5px auto 5px auto;
  }
  .PageError section p {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 12px;
    margin: 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .PageError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
  }
  .PageError img {
    width: 30%;
    height: auto;
    margin: 16px;
  }
  .PageError section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 0;
    width: 65%;
    height: auto;
  }
  .PageError section h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 65px;
    margin: 8px auto 8px auto;
  }
  .PageError section p {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 14px;
    margin: 12px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .PageError {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin: 0;
  }
  .PageError img {
    width: 40%;
    height: auto;
    margin: 17px;
  }
  .PageError section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin: 0;
    width: 70%;
    height: auto;
  }
  .PageError section h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 80px;
    margin: 11px auto 11px auto;
  }
  .PageError section p {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
    margin: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .PageError {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 0;
  }
  .PageError img {
    width: 37%;
    height: auto;
    margin: 18px;
  }
  .PageError section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 0;
    width: 40%;
    height: auto;
  }
  .PageError section h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 95px;
    margin: 14px auto 14px auto;
  }
  .PageError section p {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 18px;
    margin: 16px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .PageError {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 45px;
    margin: 0;
  }
  .PageError img {
    width: 34%;
    height: auto;
    margin: 19px;
  }
  .PageError section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin: 0;
    width: 40%;
    height: auto;
  }
  .PageError section h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 110px;
    margin: 17px auto 17px auto;
  }
  .PageError section p {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 20px;
    margin: 18px;
  }
}
@media (min-width: 1200px) {
  .PageError {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
  }
  .PageError img {
    width: 31%;
    height: auto;
    margin: 20px;
  }
  .PageError section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    width: 40%;
    height: auto;
  }
  .PageError section h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 125px;
    margin: 20px auto 20px auto;
  }
  .PageError section p {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 22px;
    margin: 20px;
  }
}

@media (max-width: 320px) {
  footer {
    padding: 5px 6% 5px 6%;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 13px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    padding: 6px 8% 6px 8%;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 14px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  footer {
    padding: 7px 10% 7px 10%;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding: 8px 12% 8px 12%;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 18px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer {
    padding: 9px 14% 9px 14%;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 10px 16% 10px 16%;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 21px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  height: 100vh;
  background: #fffb95;
}
* body #root {
  margin: 0;
}
* body #root div {
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
