header {
  background: #ffe300;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a[href="/"], header a[href="/gamecards"], header a[href="/gamerules"] {
  outline: none;
}
@media (max-width: 320px) {
  header {
    width: 100%;
    height: 75px;
  }
  header img {
    width: 70%;
    height: 45px;
    margin-left: 20px;
  }
  header button {
    width: 90%;
    height: 40px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 20px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 10px;
    outline: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  header {
    width: 100%;
    height: 80px;
  }
  header img {
    width: 73%;
    height: 47px;
    margin-left: 22px;
  }
  header button {
    width: 93%;
    height: 42px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 22px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 11px;
    outline: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  header {
    width: 100%;
    height: 85px;
  }
  header img {
    width: 76%;
    height: 49px;
    margin-left: 24px;
  }
  header button {
    width: 96%;
    height: 44px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 24px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 12px;
    outline: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100%;
    height: 90px;
  }
  header img {
    width: 79%;
    height: 51px;
    margin-left: 26px;
  }
  header button {
    width: 99%;
    height: 46px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 26px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 14px;
    outline: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header {
    width: 100%;
    height: 95px;
  }
  header img {
    width: 82%;
    height: 53px;
    margin-left: 28px;
  }
  header button {
    width: 100%;
    height: 48px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 28px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
    outline: none;
  }
}
@media (min-width: 1200px) {
  header {
    width: 100%;
    height: 100px;
  }
  header img {
    width: 85%;
    height: 55px;
    margin-left: 30px;
  }
  header button {
    width: 100%;
    height: 50px;
    background: #fdd44d;
    border: 3px solid gray;
    border-radius: 10px;
    color: black;
    float: right;
    margin-right: 30px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 18px;
    outline: none;
  }
}

.Game {
  display: flex;
  padding: 15px;
  margin: 0;
}
.Game section {
  width: 60%;
  display: grid;
  margin: 35px auto 35px auto;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  justify-items: center;
  perspective: 1000px;
}
.Game section article {
  width: 90%;
  height: 120px;
  cursor: pointer;
  display: flex;
  margin: 5px;
  border-radius: 12px;
  border: 6px solid #f9af00b3;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  /*   img {
        width: 100%;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 7px;
    } */
}
.Game section article article:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.Game section article .front-face {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.Game section article .front-face img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.Game section article .back-face {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: greenyellow;
  position: absolute;
  backface-visibility: hidden;
}
.Game section article .back-face img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.Game section .flip {
  transform: rotateY(180deg);
}

.GameRules {
  /* display: flex;
  padding: 40px;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* @media (min-width: $blackberry) and (max-width: $smartphone) {
      @include style(6px, 13px);
  }
  @media (min-width: $smartphone) and (max-width: $tablet) {
      @include style(7px, 14px);
  }
  @media (min-width: $tablet) and (max-width: $desktop) {
      @include style(8px, 15px);
  }
  @media (min-width: $desktop) and (max-width: $smart) {
      @include style(9px, 16px);
  }
  @media (min-width: $smart) {
      @include style(10px, 17px);
  } */
  /* 
      h2{
          font-family: 'Indie Flower', cursive;
          font-family: 'Coming Soon', cursive;
          font-family: 'Chilanka', cursive;
          margin: 20px;
      }

      section {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          article {
              width: 30%;
              margin: 15px;
              padding: 0px 15px 20px 15px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-family: 'Indie Flower', cursive;
              font-family: 'Coming Soon', cursive;
              font-family: 'Chilanka', cursive;
              font-size: 18px;

              img, h4, p, ul {
                  margin: 7px;
              }
          }
      } */
}
@media (max-width: 320px) {
  .GameRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
  }
  .GameRules h2 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
    margin-top: 25px;
  }
  .GameRules section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
  }
  .GameRules section article {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 3px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 12px;
  }
  .GameRules section article img {
    width: 20%;
    height: auto;
  }
  .GameRules section article h4 {
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 14px;
  }
}

.PageError {
  display: flex;
  padding: 60px;
  margin: 0px;
  padding: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.PageError h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 150px;
  margin: 25px;
}
.PageError section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.PageError section img {
  width: 120px;
  height: auto;
  margin: 10px;
}
.PageError section p {
  font-family: "Indie Flower", cursive;
  font-family: "Coming Soon", cursive;
  font-family: "Chilanka", cursive;
  font-size: 22px;
}

@media (max-width: 320px) {
  footer {
    padding: 5px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 11px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    padding: 6px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 12px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  footer {
    padding: 7px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding: 8px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 14px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer {
    padding: 9px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 10px;
    font-family: "Indie Flower", cursive;
    font-family: "Coming Soon", cursive;
    font-family: "Chilanka", cursive;
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  height: 100vh;
  background: #fffb95;
}
* body #root {
  margin: 0;
}
* body #root div {
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
